* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.header {
    background-color: aqua;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav {
    display: flex;
    justify-content: space-between;

    
}
.nav-link {
    color: white;
    text-decoration: none;
}
.logo {
    width: 100px;
    align-items: center;
    margin-left: 40px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover {
    background-color: rgb(32, 223, 230);
    transition: 0.5s;
}